body{
    padding: 20%;
    background-image: linear-gradient(
        to bottom right,     
        #EE1E5D,
        #F99D31
    )
}

.sectionContent{
    background-color: #FCF8EE;
    padding: 10%;
} 

.textBiography{
    text-align: center;
}

.imgProfile{
    display: flex;
    text-align: center;
    margin: auto;
    -webkit-clip-path: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
}