body{
    padding: 0%;
    margin: 0%;
}
.grid-1{
    display: grid;
    grid-template-columns: 50% 50%;
}
.item-1{
    padding: 10% 10% 10% 10%;
}
.item-2{
    padding: 10% 10% 10% 10%;
    background-color: #D3D3D3;
}
.imgPerfil{
    max-width:120%;
    max-height:120%;
    width: auto;
    height: auto; 
}
.paragrafo{
    text-align: justify;
    font-family: sans-serif;
    line-height: 200%;
}

